h1 {
    color: brown;
}

 .header{
     background-color: aqua;
     display:flex;
     justify-content:space-between;
     
 }

 .grid{
     display:flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 body{
     background-color: #bd150f;
 }